extends layout


block content
  h1 Awesomo Appliance Mart
  p.lead The best place for nifty appliances.
  hr
  .row
    .col-md-6
      img(src="images/SuperMicrowave.png" alt=product.productName height=250 width=400)
     
      h2=product[0].productId
      p=product[0].productName
      p=product[0].productPrice
      p=product[0].productDescription
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      img(src="images/oven.png" alt=product.productName height=250 width=250)
      
      h2=product[1].productId
      p=product[1].productName
      p=product[1].productPrice
      p=product[1].productDescription
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      img(src="images/refridgorator.png" alt=product.productName height=250 width=250)
      
      h2=product[2].productId
      p=product[2].productName
      p=product[2].productPrice
      p=product[2].productDescription
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      img(src="images/dishwasher.png" alt=product.productName height=250 width=250)
      
      h2=product[3].productId
      p=product[3].productName
      p=product[3].productPrice
      p=product[3].productDescription
      p
        a.btn.btn-raised(href='#', role='button') View details »